@charset "utf-8";
/* CSS Document */


/*----------------reset css -------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; */
  /* max-width: 1000px; */
  /* margin: 0 auto; */
}


*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  outline: 0;
}

html, body {
  font-family: 'Futura LT Book', 'Futura ICG', Futura, 'Century Gothic', Muli, arial, 'Microsoft JhengHei', sans-serif;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
header.wrapper a,
#site_link_ebay2 a {
  color: #4C4C4E !important; 
  text-decoration: none !important;   
}
.nav_left a {
  text-decoration: none !important;     
}
.wrapper {
  width:1000px;
  max-width:1000px;
  display:block;
  position: relative;
  margin: 0 auto;
}
nav ul {
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
nav ul:after {
  width: 100%;
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  content: '';
}
nav ul > li {
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  position: relative;
  padding-left: .3em;
  /* transition: .4s; */
  text-transform: uppercase;
}
nav ul:hover > li a,
#site_link_ebay2 ul:hover > li a  {
  color:rgba(101, 101, 101, .4) !important;
  text-decoration:none !important;
}
nav ul:hover > li:hover a ,
#site_link_ebay2 ul:hover > li:hover a {
  color:rgba(68, 68, 68, 1) !important;
}
header.wrapper {
  
overflow: hidden;
}
nav#menu_ebay {
  border-top: 2px solid #EBEAE8;
  border-bottom: 2px solid #EBEAE8;
  width:100%;
  height: 48px;
  line-height: 48px;
  float: left;
  clear: both;
  margin-top: .5em;
}
nav#menu_ebay ul,
nav#site_link_ebay2 ul {
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  height: 100%;
  max-width: 660px;
}
nav#site_link_ebay2 ul {
  max-width:900px;
}
header.wrapper nav a:hover {
  color:#333;
}
nav#menu_ebay a,
nav#site_link_ebay2 a {
  /* color: #666; */
  font-size: 12px;
  letter-spacing: .1em;
  /* transform: scale(0.89); 
  -webkit-transform: scale(0.89); 
  -ms-transform: scale(0.89);*/
  display: block;
  font-weight:normal;
  transition: .4s;
}
nav#site_link_ebay2 a {
  transform: scale(0.86);
  -webkit-transform: scale(0.86);
  -ms-transform: scale(0.86);
  position: relative;
}
nav#site_link_ebay {
  float:right;
  height: 15px;
  line-height: 15px;
  margin-top: .8em;
}
nav#site_link_ebay ul {
  width:100%;
  max-width: 680px;
  display: block;
}
nav#site_link_ebay a {
  /* color: #333; */
  font-family: arial;
  font-size: 12px;
  letter-spacing: .1em;
  word-spacing: .15em;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  display: block;
  width: auto;
  margin: 0 auto;
  transition: .4s;
}
nav#site_link_ebay li:before {
  content:'|';
  position: absolute;
  font-size: 12px;
  display: inline-block;
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  left: -.2em;
  opacity:1.0;
}
nav#site_link_ebay li:last-child:after {
  content:'|';
  position: absolute;
  font-size: 12px;
  display: inline-block;
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  right: -.1em;
  top: 0;
  opacity:1.0;
}
div.logo {
  display:block;
  float:left;
}
div.logo a {
  width: 310px;
  display: block;
  margin: 0 auto;
}
header h1 {
  width: 310px;
  height: 70px;
  padding: 0;
  background-image: url(images/logo-ebay.png);
  background-repeat:no-repeat;
  background-size: contain;
  font-size:0;
  background-position: -10px 0;
  background-color: #fff;
  position:relative;
  z-index: 1;
  transition:.4s;
  display: block;
  margin: 0;
}
#site_link_ebay2 {
  height: 33px;
  line-height: 33px;
  margin: 4em 0 1em;
}
#site_link_ebay2 + hr {
  margin-bottom:22px;
}
#site_link_ebay2 li {
  background-image:url(images/icon-set.png);
  background-repeat: no-repeat;
  height: 100%;
  padding-left: 2em;
}
#site_link_ebay2 li:nth-child(2) {
  background-position:0 -48px;
  padding-left: 2.5em;
}
#site_link_ebay2 li:nth-child(3) {
  background-position:0 -96px;
}
#site_link_ebay2 li:nth-child(4) {
  background-position:0 -142px;
  padding-left: 2.5em;
}
#site_link_ebay2 li:nth-child(5) {
  background-position:0 -190px;
  padding-left: 1.5em;
}
#site_link_ebay2 li a:after {
  content: '';
  background: #E8DFDA;
  display: block;
  height: .2em;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius:100%;
  transition: .4s;
}
#site_link_ebay2 li a:hover:after {
  background: #c3b2a9;  
}
hr {
  background: #E8DFDA;
  width:100%;
  height: 22px;
  border:0;
  /* margin-bottom:22px; */
  clear: both;
}
td#LeftPanel > table.v4acpcont:first-child {display: none;}
.pagecontainer > table:not(:nth-child(3)) {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
section#search {
  display: block;
  float: right;
  width:250px;
  text-align:right;
  margin-top: .5em;
}
section#search table {
  float:right;
}

table.v4stw table td {
  position:relative;
  vertical-align:bottom;
  padding-left: 0;
}
input.v4sbox,
#search input[type="submit"] {
  display:inline-block;
}
input.v4sbox {
  outline:0;
  border:0;
  border-bottom:1px solid #c4c4c4;
  vertical-align: bottom;
  height: 28px;
  padding-bottom: 0;
  padding-top: .6em;
  font-family: arial, "Microsoft JhengHei";
  word-spacing: .1em;
  width: 150px;
  margin-right: 10px;
}
#search input[type="submit"] {
  -webkit-appearance:none;
  background-image:url(images/icon-set.png);
  background-position:0 -240px;
}
.search_btn,#search input[type="submit"] {
  width:20px;
  height:20px;
  outline:0;
  border:0;
  font-size:0;
  vertical-align: middle;
  cursor: pointer;
}

input.v4sbox::-webkit-input-placeholder {
  color: #ccc;
}

input.v4sbox:-moz-placeholder {
  color: #ccc;
}

input.v4sbox::-moz-placeholder {
  color: #ccc;
}

input.v4sbox:-ms-input-placeholder {
  color: #ccc;
}
#search input[type="checkbox"],
#search label {
  font-size:12px;
  margin-top:8px;
  display:inline-block;
}
/* left side table menu */

.nav_left {
  width:210px;
  display:inline-block;
}
table.v4midBox {
  border: 0;
}
.v4title h2,
.nav_left h2 {
  color:#444;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Futura LT Book', 'Futura ICG', Futura, 'Century Gothic', Muli, arial, 'Microsoft JhengHei', sans-serif;
}
.nav_left h2 {
  margin-bottom:1.5em;
}
table.v4acp tr.v4acp_head td.v4title {
  background:none;
}
table.v4acp tr.v4acp_head td.v4accent {
  width:0;
}
.lcat li a,
.lev1 li span,
.nav_left li h3 {
  font-size: 17px;
  text-decoration:none;
  color:#D4C9C7;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Futura LT Book', 'Futura ICG', Futura, 'Century Gothic', Muli, arial, 'Microsoft JhengHei', sans-serif;
}
.lev1 li span, .nav_left li a:hover h3,.nav_left li ul li a:hover {
  color: #b59893;
}
.lcat li a:hover {
  color:#666;
}
.lcat .cnt {
  font-weight:normal;
  color: #69BABB!important;
  letter-spacing:0;
  font-size:12px;
}
.lcat li a:hover + span.cnt {
  color: #69BABB;
  opacity: 1;
}
.nav_left li ul {
  padding: 0 0 0 20px;
}
.lcat .lev2,
.nav_left li ul {
  padding-left: 8px;
  padding-bottom: .2em;
}
.lcat .lev2 li,
.nav_left li ul li {
  list-style:none;
  position:relative;
  margin: .8em 0;
  color: #8d8d8d;
}
.lcat .lev2 li:before,
.nav_left li ul li:before {
  content:'-';
  position:absolute;
  left:-.5em;
}
.nav_left ul li {
  margin: 10px 0;
}
.lev2 li a,
.nav_left li ul li a {
  color:#666;
  font-size:13px;
  font-family:Muli;
}
.lev2 li span:first-child {
  font-size:13px;
  color: #b59893 !important;
}
.lev2 li a + span {
  opacity:.5;
}
.lcat .lev2 li span.cnt {
  color:#999;
  font-size:12px;
}
.lcat .ttl {display:none;}
td#LeftPanel
 {
  border-right:1px dashed #ccc;
}
#promotion-category {
  border-left:1px dashed #ccc;
  padding-left:15px;
}

/* slider */

.csslider1 {
  display: inline-block;
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin-top: .1em;
}
.csslider1,
.csslider1 *,
.csslider1 *:after,
.csslider1 *:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider1 > .cs_anchor {
  display: none;
}
.csslider1 > ul {
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  
  overflow: hidden;
  white-space: nowrap;
}
.csslider1 > ul > .cs_skeleton {
  width: 100%;
  visibility: hidden;
  font-size: 0px;
  line-height: 0;
}

.csslider1 > ul > .slide.img img {
  width: 100%;
}



.csslider1 > ul > .slide.img a {
  font-size: 0pt;
  color: transparent;
}
.csslider1 > ul > .slide {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  white-space: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.csslider1 .cs_engine{
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0pt;
  opacity: 0;
  filter: alpha(opacity=0);
}

.csslider1 > ul > li.img,
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_bullets,
.csslider1 > .cs_play_pause {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ------------- /General Styles ------------- */

/* ------------- General Arrows ------------- */
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext {
  position: absolute;
  top: 50%;
  z-index: 5;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}
.csslider1 > .cs_arrowprev {
  left: 0;
}
.csslider1 > .cs_arrownext {
  right: 0;
}

.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label {
  opacity: 0;
  z-index: -1;
}



.csslider1 > #cs_slide1_0:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrownext > label.num1, 
.csslider1 > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_arrownext > label.num0,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrownext > label.num0 {
  opacity: 1;
  z-index: 5;
}


@-webkit-keyframes arrow1 {
  0%, 49.99% { opacity: 1; z-index: 5; }
  50%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes arrow1 {
  0%, 49.99% { opacity: 1; z-index: 5; }
  50%, 100%  { opacity: 0; z-index: -1; }
}


.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num1 {
  -webkit-animation: arrow1 8800ms infinite -1000ms;
  animation: arrow1 8800ms infinite -1000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num0 {
  -webkit-animation: arrow1 8800ms infinite 3400ms;
  animation: arrow1 8800ms infinite 3400ms;
}


.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label,
.csslider1 > .pause:checked ~ .cs_arrowprev > label,
.csslider1 > .pause:checked ~ .cs_arrownext > label {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Arrows ------------- */

/* ------------- General Bullets ------------- */
.csslider1 > .cs_bullets {
  position: relative;
  left: 0;
  width: 100%;
  z-index: 6;
  font-size: 0;
  line-height: 8pt;
  text-align: center;
}
.csslider1 > .cs_bullets > div {
  margin-left: -50%;
  width: 100%;
}
.csslider1 > .cs_bullets > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.csslider1 > .cs_bullets > label > .cs_thumb {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 1;
  line-height: 0;
  left: -48px;
  top: -48px;
}
.csslider1 > .cs_bullets > label > .cs_thumb > img {
  max-width: none;
}
/* ------------- /General Bullets ------------- */

/* ------------- Effect ------------- */
.csslider1 > ul > .slide.num0 {
  left: 0%;
}
.csslider1 > ul > .slide.num1 {
  left: 100%;
}
 


.csslider1 > #cs_slide1_0:checked ~ ul > .slide,
.csslider1 > #cs_pause1_0:checked ~ ul > .slide {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.csslider1 > #cs_slide1_1:checked ~ ul > .slide,
.csslider1 > #cs_pause1_1:checked ~ ul > .slide {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
 


.csslider1 > ul > .slide {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 1;

  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms, transform 1000ms;

  
  -webkit-transform: scale(1);
  transform: scale(1);
}



@-webkit-keyframes slide1 {
  0%, 38.63636363636364%  { -webkit-transform: translateX(0%); transform: translateX(0%); }
  50%, 88.63636363636364%  { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  
}
@keyframes slide1 {
  0%, 38.63636363636364%  { -webkit-transform: translateX(0%); transform: translateX(0%); }
  50%, 88.63636363636364%  { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  
}

@-webkit-keyframes slide1-ie {
  0%, 38.63636363636364%  { margin-left: 0%; }
  50%, 88.63636363636364%  { margin-left: -100%; }
  
}
@keyframes slide1-ie {
  0%, 38.63636363636364%  { margin-left: 0%; }
  50%, 88.63636363636364%  { margin-left: -100%; }
  
}

.csslider1  > #cs_play1:checked ~ ul > .slide {
  
  -webkit-animation: slide1 8800ms infinite;
  animation: slide1 8800ms infinite;
  
}
/* IE 10+ hack - cant animate translate :( */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .csslider1  > #cs_play1:checked ~ ul > .slide {
    animation: slide1-ie 8800ms infinite;
  }
}


.csslider1 > #cs_play1:checked ~ ul > .slide,
.csslider1 > .pause:checked ~ ul > .slide {
  -webkit-transition: none;
  transition: none;
}


/* ------------- /Effect ------------- */

/* ------------- Template Show on hover ------------- */
.csslider1 > .cs_play_pause {
  -webkit-transition: .4s all 0s ease;
  transition: .4s all 0s ease;
}
.csslider1 > .cs_arrowprev {
  -webkit-transition: .4s all .15s ease;
  transition: .4s all .15s ease;
}
.csslider1 > .cs_arrownext {
  -webkit-transition: .4s all .3s ease;
  transition: .4s all .3s ease;
}
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_play_pause {
  opacity: 0;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.csslider1:hover > .cs_arrowprev,
.csslider1:hover > .cs_arrownext,
.csslider1:hover > .cs_play_pause {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* ------------- /Template Show on hover ------------- */

/* ------------- Template Arrows ------------- */
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  padding: 17px;
  height: 23px;
  width: 23px;
  margin-top: -28px;
  margin-left: -28px;

  background-color: rgba(255, 255, 255, .5);

  border-radius: 50%;
}
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label,
.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}
.csslider1 > .cs_arrowprev {
  margin-left: 2px;
  left: 45px;
}
.csslider1 > .cs_arrownext {
  margin-right: 2px;
  right: 45px;
}
.csslider1 > .cs_arrowprev > label span,
.csslider1 > .cs_arrownext > label span {
  display: block;
  color: #3A4A5A;
}
.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {
  display: block;
  font: 21px "cs-ctrl-basic";
  line-height: 23px;
  text-align: center;
}
/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_arrowprev > label span:after {
  line-height: 29px;
}
_:-ms-input-placeholder, :root .csslider1 > .cs_arrownext > label span:after {
  line-height: 29px;
}

.csslider1 > .cs_arrowprev > label span:after {
  content: '\f053';
 font-family:FontAwesome;
 color:#555;
 font-size:14px;
}
.csslider1 > .cs_arrownext > label span:after {
  content: '\f054';
 font-family:FontAwesome;
 color:#555;
 font-size:14px;
}

.csslider1 > .cs_arrowprev:hover > label,
.csslider1 > .cs_arrownext:hover > label {
  background-color: rgba(255, 255, 255, .5);
}

.csslider1 > .cs_arrownext:hover > label span {
  color: #000;
  -webkit-animation: nextArrow1 .7s infinite ease-in-out;
  animation: nextArrow1 .7s infinite ease-in-out;
}
.csslider1 > .cs_arrowprev:hover > label span {
  color: #000;
  -webkit-animation: prevArrow1 .7s infinite ease-in-out;
  animation: prevArrow1 .7s infinite ease-in-out;
}


@keyframes nextArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}
@-webkit-keyframes nextArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  75% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
}

@-webkit-keyframes prevArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
@keyframes prevArrow1 {
  0%, 100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  75% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}
/* ------------- /Template Arrows ------------- */

/* ------------- Template Bullets ------------- */
.csslider1 > .cs_bullets {
  top: 20px;
  margin-bottom: 5px;
}
.csslider1 > .cs_bullets > label {
  border-radius: 0;
  margin: 0 5px;
  padding: 4px;
  background: #C5C0C4;
}




.csslider1 > .cs_bullets > label > .cs_point {
  position: absolute;
  left: 0;
  top: 0;
  /* margin-left: -2px; */
  /* margin-top: -2px; */
  background: transparent;
  border-radius: 0;
  padding: 4px;
  width: auto;
}

.csslider1 > .cs_bullets > label:hover > .cs_point,

.csslider1 > #cs_slide1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_slide1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1_1:checked ~ .cs_bullets > label.num1 > .cs_point {
  background: #E7DED7;
  /* width: 100%; */
  /* height: 100%; */
}




@keyframes bullet1 {
  0%, 49.99%  { background: #E7DED7; }
  50%, 100% { background: transparent; }
}
@-webkit-keyframes bullet1 {
  0%, 49.99%  { background: #E7DED7; }
  50%, 100% { background: transparent; }
}

.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num0 > .cs_point {
  -webkit-animation: bullet1 8800ms infinite -1000ms;
  animation: bullet1 8800ms infinite -1000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num1 > .cs_point {
  -webkit-animation: bullet1 8800ms infinite 3400ms;
  animation: bullet1 8800ms infinite 3400ms;
}



.csslider1 > #cs_play1:checked ~ .cs_bullets > label > .cs_point,
.csslider1 > .pause:checked ~ .cs_bullets > label > .cs_point {
  -webkit-transition: none;
  transition: none;
}


.csslider1 > .slide:checked ~ .cs_bullets > label > .cs_point,
.csslider1 > .pause:checked ~ .cs_bullets > label > .cs_point {
  -webkit-animation: none;
  animation: none;
}


/* ------------- Template /Bullets ------------- */
/* hide description & bullets on mobile devices */
@media
only screen and (max-width: 480px),
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 480px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (                max-resolution: 192dpi) and (max-width: 480px),
only screen and (                max-resolution: 2dppx)  and (max-width: 480px) { 
  .csslider1 > .cs_description,
  .csslider1 > .cs_bullets {
    display: none;
  }
}

/* slider end */

#promotion-category {
  float:right;
}
#promotion-category > div {
  margin-bottom:1em;
  overflow: hidden;
}
#promotion-category > div a:nth-child(2) {
  float:right;
}
#promotion-category img {
  transition:.4s;
}
#promotion-category > div a:hover img {
  opacity:.8;
}
/* Shine */

#promotion-category > div a {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#promotion-category > div a:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .2) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

#promotion-category > div a:hover:before {
  -webkit-animation: shine .95s;
  animation: shine .95s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
.r3_hm, .r3_c, .r3_s {
    border: 0;
}

.r3_t, .r3_t b, .r3_bl, .r3_bl b {
    background: none;
}

.r3_t i, .r3_bl i {
    border: 0;
}

table.cmpb.nol {
    font-family: arial;
    font-size: 12px;
    color: #aaa;
}

.r3_c a:link, .r3_c .g-novisited a:visited {
    color: #555;
}

.r3_c a:visited {
    color: #555;
}

.r3_c a:active, .r3_c a:link {
    color: #555;
}

.ttl a:hover {
    color: #333;
}
div.fpcc {
    clear: both;
    margin: 0;
    padding: 0px 0 0 10px;
    border-top: 1px solid #E8DFDA;
    height: 42px;
    line-height: 41px;
    background-color: #F4F0ED;
}
.v4stabl {
    padding-right: 10px;
    width: 500px;
    position: absolute;
    text-align: right;
    right: 9px;
    top: 22px;
    font-family: arial;
    font-size: 14px;
    color: #685043;
}
#CentralArea {
    vertical-align: top !important;
    padding-top: 0;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    right: 0px;
    margin: 0px;
    border: 0px none #c6c6c6;
    position: relative;
    width: 793px;
}
.ctrlbr {
    clear: left;
    border: 0 none;
    margin: 0px;
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    border-top: hidden;
    border: solid 1px #F4F0ED;
    border-top: 0;
    background-color: #fff;
    font-size: 12px;
    margin-left:-1px;
    margin-right:-1px;
}
.li {
  border-color:#F4F0ED;
}
div.bpmsg {
  display:none;
}
.fpcc span.keywordClass {
    font-family: Arial;
    font-weight: bold;
    color: #69BABB!important;
    background-color: transparent;
    white-space: nowrap;
    cursor: default;
    margin: 0;
    display: inline;
}
span.pdmt .label {
    color: #7A5E4C;
    font-weight: normal;
}
span.pdmt .cur {
    cursor: pointer;
    color: #7A5E4C;
    margin-left: .4em;
    background: #F6F5F5;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    padding: .3em;
    position: relative;
    padding-right:2em;
}
span.pdmt .cur:after {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position:absolute;
  border-top: 5px solid #7A5E4C;
  top:.7em;
  right:.6em;
}
span.pdmt .cur > img {
  display:none;
}
.cmsg {
  display:none;
}
.cmpBr {
  border:0;
  background:#fff;
}
table.gallery div.ttl {
  padding:1em;
  line-height: 16px;
  height: 65px;
  font-size: 14px;
  font-family: Roboto;
  text-align: center;
}
.olp-bl div {
    height: 11px;
}
.ml-pm .olp-cnt {
    margin: 0;
    width: 100%;
    padding: 1px 5px 0 0;
}

a.pll.tpr {
    display: none;
}
td.details {
    font-family: Roboto, arial;
}

#CentralArea .g-b
{
	/* font-family: 'Lato', sans-serif; */
	font-size: 22px;
	color: #333;
	font-weight: normal;
	display: inline-block;
	width: 99px;
	text-align: center;
	border: 0 none;
	border-radius: 20px;
	margin-top: 5px;
	margin-right: auto;
	/*margin-bottom: 20px;*/
	margin-left: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	/*background-image: url(../images/signup-btn.png);
	background-repeat: no-repeat;
	background-position: center top;*/
	height: 26px;
	line-height: 26px;
	text-decoration: none;
	color: #FF8000;
}

span.pdmt .label
{
	/* color:#fff; */
	/* font-family: 'Roboto', sans-serif; */
	/* font-weight:normal; */
	/* font-size:medium; */
}
/*---style of time left of product---*/
div.clr.time2
{
	font-family: 'Lato', sans-serif;
	color: #5b5b5b;
	font-size: 12px;
	width: 100%;
	margin: .6em 0 1em;
}
table.gallery table.fixed div.time2 {
  padding-right:0;
}


/*---Style of Buy It Now image---*/
.fixed img
{
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
	display: none;
}
/*---Style of Product Counts---*/
.fpcc .countClass
{
	font-family: 'Roboto', sans-serif;
	font-size: medium;
	font-weight: normal;
	/* color:#fff; */
	font-size: 18px;
}

/*---product gallery box picture style---*/
#CentralArea table.gallery td.picture
{
	/* padding: 30px 0; */
	text-align: center;
	vertical-align: middle;
	display: -moz-grid;
	padding: 0 !important;
	/*border:1px solid #c6c6c6;*/
	height:155px;
	margin-top:0px;
	/* width:212px; */
}
#CentralArea td.gallery table tr td
{
	display: list-item;
	list-style: none;
	text-align:center;
	text-transform:lowercase;
}
#CentralArea table.gallery table.fixed
{
	margin-top: 5px;
	width: 100%;
	margin-bottom:15px /* bottomg for custom-text */
	position:relative;
}
/*
#CentralArea table.gallery table.fixed:after {
  content:'shop now';
  position:relative;
  border:1px solid #333;
  width:125px;
  display:block;
  margin:0 auto 1em;
  height:25px;
  text-transform:uppercase;
  font-size:14px;
  line-height:24px;
}
*/
#CentralArea table.fixed table tr td
{
	display: list-item;
	text-align: center;
}
.fpcc span.keywordClass
{
	/* font-family: Arial, Helvetica, sans-serif; */
	/* font-weight: normal; */
	/* color:#fff; */
	/* font-size:medium; */
	/* background: none; */
	/* font-family: 'Roboto', sans-serif; */
}
/*---Product title style---*/
#CentralArea td.r3_c a
{
	color: #606060;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: normal !important;
	text-decoration: none;
	line-height: 18px;
	text-transform:capitalize;
	/*font-size:medium !important;*/
}
#CentralArea td.r3_c a:hover {
  color:#333;
}
.dynpg .next a.enabled {
  border-bottom: 1px solid #999;
}
.gallery .picture .image {
    width: 140px !important;
    padding: 0px !important;
}
table.gallery .mi {
  display:none;
}

span.bids {
    color: #69BABB;
}

span.label {
    font-size: 12px;
}
.grid td.left {
  border:0;
}
div.itemseparator {
  margin-bottom:1.5em;
  border-color:#eaeaea;
}
div.v4sem {
  font-family:arial;
  font-size:13px;
  word-spacing:.1em;
}
div.cmpb {
    background-color: transparent !important;
    background-repeat: repeat !important;
    padding: 5px 0;
    margin-bottom: 0px !important;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none !important;
    border-right-style: none;
    border-bottom-style: none !important;
    border-left-style: none;
}
table.nol td.picture {
    width: 140px !important;
    text-align: center;
    color: #aaa;
    font-weight: normal;
    word-spacing: .2em;
    /* letter-spacing: .1em; */
}
#CentralArea table.nol td.picture a {
  font-size:12px!important;
  font-weight:bold!important;
  letter-spacing: 0;
  margin: 0 .2em;
  color: #666;
}
.cmpb td.details {
  font-family:arial;
}
.cmpb td.prices {
    text-align: center !important;
    width: 80px !important;
}
.li td.rt {
    padding-left: 5px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 13px;
    vertical-align: middle;
}
td.prices.g-b {
    vertical-align: middle;
}
table.pgbc {
    height: 40px;
    /* border-top: 1px solid #c6c6c6; */
    background-color: #F4F0ED;
    /* border-bottom: 1px solid #c6c6c6; */
    color: #685043;
    font-size: 14px;
    border-top: 0;
}
#CentralArea td.r3_c {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-image: none;
    color: #999;
    border-bottom: none;
    border-top:0;
}
.r3_cm {
    padding: 0 !important;
}
.rs_box {
    border: 1px solid #F4F0ED;
    border-top:0;
}
#v4-16 > div:first-child {
  margin:0 -1px;
}
.stBadge {
    max-width: 1000px;
    margin: 0 auto;
}
.stBadge-accent td {
    background:#69BABB!important;
}

.whiter-rcp {
    border-top: 0;
    font-family: Roboto, arial;
    font-size: 13px;
}
.mbg a,
.mbg a:hover,
.mbg a:link {
    color:#7A5E4C!important;
}

.stBadge-text {
    font-weight: normal;
}

span.mbg-nw {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .08em;
}
.clr.time2 span.label {
    margin-right: .2em;
    text-transform: capitalize;
    letter-spacing: .08em;
}

#storercp_mide a {
    color: #FF8000;
}
div#sModule {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    color:#ccc;
}
div#sModule a {
    color:#aaa;
}
div#sModule a:hover {
    color:#666;
}

div#hll ul.in li span {
    color: #eaeaea;
}
.ttl.g-std a {
    color: #555;
    text-transform: capitalize;
}
.next a.enabled img,
.next a.disabled img,
.prev a.enabled img,
.prev a.disabled img {
    display:none;
}
.next, .prev, .pages {
    position:relative;
}
.pages {
  letter-spacing:5px;
  padding: 0 1em;
  display: block;
  margin-left: 1em;
}
.next a.enabled:nth-child(2):after,
.next a.disabled:nth-child(2):after {
    content:'\f054';
    display:inline-block;
    position:absolute;
    font-family: "FontAwesome" !important;
    font-size:12px;
    border:0;
    top:.2em;
}
.prev a.enabled:nth-child(2):before,
.prev a.disabled:nth-child(2):before {
    content:'\f053';
    display:inline-block;
    position:absolute;
    font-family: "FontAwesome" !important;
    left:-.5em;
    font-size:12px;
    border:0;
    top:.2em;

}
.dynpg .prev a.enabled {
  border-bottom: 1px solid #999;
}
.dynpg span.pipe {
  font-size:12px;
  position:relative;
  top:-.2em;
  color: #ccc;
  display: inline-block;
  -webkit-transform-origin-x: 0;
  -ms-transform-origin-x: 0;
  -moz-transform-origin-x: 0;
  transform-origin: 0;
  -webkit-transform: scale(0.78);
  transform: scale(0.78);
}
td#CentralArea div.dynpg {
    background: #F4F0ED;
}
.dynpg td.pages a.disabled, .dynpg td.pages a.disabled:visited {
    color: #69BABB!important;
    font-weight: normal;
    border-bottom: 1px solid #69BABB;
    padding-left: 4px;
}
.dynpg td.pages a.enabled:hover,
.dynpg td.pages a.enabled:link,
.dynpg td.pages a.enabled:visited,
.dynpg a,
.dynpg a:link,
.dynpg a:hover,
.dynpg a:visited {
    color:#555;
    text-decoration:none;
}
